html, body {
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(218, 23%, 16%);
}

@media screen and (max-width: 480px) {
  body {
    min-height: 100%;
    justify-content: normal;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px;
  margin: 30px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 16px;
}

.advice-heading {
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
  color: hsl(150, 100%, 66%);
  margin-top: 49px;
}

.advice-body {
  width: 444px;
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
  text-align: center;
  color: hsl(193, 38%, 86%);
  margin-top: 15px;
}

.divider {
  width: 444px;
  height: 16px;
  max-width: 90%;
  background-image: url(./images/pattern-divider-desktop.svg);
  background-position: center;
  margin-top: 12px;
}

#dice-button {
  cursor: pointer;
  background-color: hsl(150, 100%, 66%);
  align-self: center;
  width: 64px;
  height: 64px;
  border: 0;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: -33px;
  padding: 0;
  padding-top: 4px;
}

#dice-button:hover {
  box-shadow: 0 0 40px  hsl(150, 100%, 66%);
}

@media screen and (max-width: 580px) {
  .card {
    width: 90%;
  }
  
  .advice-body {
    width: 90%;
  }
  
}

@media screen and (max-width: 480px) {
  .card {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .divider {
    width: 295px;
    max-width: 90%;
    height: 16px;
    background-image: url(./images/pattern-divider-mobile.svg);
    margin-top: 12px;
  }
}

.attribution {
  font-size: 11px;
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  bottom: 20px;
  color: hsl(217, 19%, 38%);
}

@media screen and (max-width: 480px) {
  .attribution {
    display: none;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}